// Required
@import "bootstrap/scss/functions";

@import "./variables";

@import "bootstrap/scss/bootstrap";

.spinner-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}